@{
  var person = PageData["data"];
}

<div class="person">
  <div class="person__name" itemprop="name">@person.FullName</div>
  @if (!String.IsNullOrEmpty(person.Position)) {
    <div class="person__position" itemprop="jobTitle">@person.Position</div>
  }
  @if () {
    <div class="person__contact">
      @if (!String.IsNullOrEmpty(person.Email)) {
        <div itemprop="email" class="person__contact__item">
          @RenderPage("_Shared_TryToEncryptMail.cshtml", new { email = person.Email })
        </div>
      }
      @if (!String.IsNullOrEmpty(person.Mobile)) {
        <a href='tel:@person.Mobile.Replace(" ", "")' itemprop="telephone" class="person__contact__item">@person.Mobile</a>
      }
      @if (!String.IsNullOrEmpty(person.Phone)) {
        <a href='tel:@person.Phone.Replace(" ", "")' itemprop="telephone" class="person__contact__item">@person.Mobile</a>
      }
    </div>
  }
  @if (!String.IsNullOrEmpty(person.Description)) {
    <div class="person__description" itemprop="description">
      @Html.Raw((string)person.Description)
    </div>
  }
</div>
